@font-face {
    font-family: 'RoyalFlush';
    src: local("RoyalFlush"), url(/assets/fonts/royal-flush-font/RoyalFlush.ttf) format("truetype");
}

.back {
    width: 55%;
    background-color: black;
    padding: 15px 0px;
    margin: 0px auto;
}

.center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.margin{
    margin: 15px 80px;
}

p {
    color: white;
    font-size: 20px;
    font-family: 'Bebas Neue';
    margin: auto 15px;
}

.right {
    display: flex;
}

.submit {
    border-radius: 5px;
    color: white;
    background-color: red;
    cursor: pointer;
    margin: 5px;
    font-size: 20px;
    font-family: 'Bebas Neue';
    text-decoration: none;
}

.width1 {
    width: 200px;
    padding: 10px;
    margin: auto 80px;
}

.width2 {
    width: 75px;
    padding: 5px;
}

.submit:hover {
    background-color: rgb(255, 238, 0);
    color: black;
}

.title {
    color: red;
    font-size: 40px;
    font-family: 'Bebas Neue';
}