<div class="back">
    <h2 class="title margin">Name</h2>

    <div>
        <div class="margin center">
            <p>Balance:</p>
            <div class="right">
                <p>$500</p>
                <button class="submit width2">Edit</button>
            </div>
        </div><br>
        <div class="margin center">
            <p>First Name:</p>
            <div class="right">
                <p>Jimmie</p>
                <button class="submit width2">Edit</button>
            </div>
        </div>
        <div class="margin center">
            <p>Last Name:</p>
            <div class="right">
                <p>Hendrix</p>
                <button class="submit width2">Edit</button>
            </div>
        </div>
        <div class="margin center">
            <p>Email:</p>
            <div class="right">
                <p>jimmie@mail.com</p>
                <button class="submit width2">Edit</button>
            </div>
        </div>
        <div class="margin center">
            <p>Password:</p>
            <div class="right">
                <p>rockOn!3</p>
                <button class="submit width2">Edit</button>
            </div>
        </div>
    </div>
</div>