<div class="back">
    <h2 class="title margin" id="jackWelcomeName">Welcome </h2>

    <div>
        <div class="margin center">
            <p>Wins:</p>
            <p id="jackWins">0</p>
        </div>
        <div class="margin center">
            <p>Losses:</p>
            <p id="jackLosses">0</p>
        </div>
        <div class="margin center">
            <p>Balance:</p>
            <p id="jackBalance">$0</p>
        </div>
        <div class="margin center">
            <p>Referral Code:</p>
            <p id="jackReferral">xxxx-xxxx-xxxx</p>
        </div>
    </div>

    <div class="center2">
        <button class="submit" routerLink="/game">Play</button>
    </div>
</div>
