<div class="back">
    <h2 class="title margin">Welcome Name</h2>

    <div>
        <div class="margin center">
            <p>Wins:</p>
            <p>5</p>
        </div>
        <div class="margin center">
            <p>Losses:</p>
            <p>5</p>
        </div>
        <div class="margin center">
            <p>Balance:</p>
            <p>$500</p>
        </div>
        <div class="margin center">
            <p>Referral Code:</p>
            <p>E5M8-I2J1</p>
        </div>
    </div>

    <div class="center2">
        <button class="submit" routerLink="/game">Play</button>
    </div>
</div>